.tab-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: flex;
  height: calc(112rpx + env(safe-area-inset-bottom));
  padding: 10rpx 52rpx env(safe-area-inset-bottom);
  background: #242321;
}

.tab-bar__item {
  display: flex;
  flex: 1;
  min-width: 112rpx;
  min-height: 88rpx;
  color: #aca79e;
  align-items: center;
  justify-content: center;
  gap: 10rpx;
}

.tab-bar__icon {
  display: flex;
  width: 40rpx;
  height: 40rpx;
  align-items: center;
  justify-content: center;
}

.tab-bar__label {
  font-size: 24rpx;
  font-weight: 700;
}

.tab-bar__item--active {
  color: #d7ef3f;
}
