page {
  --color-primary: #ee5a24;
  --color-success: #07c160;
  --color-text: #1f2329;
  --color-text-secondary: #646a73;
  --color-background: #f7f8fa;
  --radius-card: 24rpx;
  --button-primary-background-color: var(--color-primary);
  --button-primary-border-color: var(--color-primary);
  --cell-group-inset-border-radius: var(--radius-card);
}
